@model IEnumerable<DiagramBidding.Models.HandbkTrade>
@{
    ViewBag.Title = "График Razor";
}
<h1>@ViewBag.Title</h1>
<div class="jumbotron">
    <p class="lead">График зависимости цены валюты от даты:</p>
    <p><img src="@Url.Action("ShowChart")" width="100%" height="370"> </p>
</div>

    <h3>Результаты сделок:</h3>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ToolId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellerId)
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Tool.Currency)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Seller.Name)
                </td>

            </tr>
        }

    </table>


